
@mixin default {
    background-color: hotpink;
    color: rgb(0, 0, 0);
    font-family: monospace;
    text-transform: uppercase;
    font-size: 30px;
}

#header{
    p{
        @include default;
    }
}

div{
    @include default;
}