@mixin text($fs, $fw) {
    font-size: $fs;
    font-weight: $fw;
}

@mixin pos($cs, $ce, $gs, $ge, $z) {
    grid-column: $cs / span $ce;
    grid-row: $gs / span $ge;
    z-index: $z;
}

@mixin gradient($deg, $ar, $ag, $ab, $ao, $acent, $bdeg, $br, $bg, $bb, $bo, $bcent) {
    background: linear-gradient($deg, rgba($ar, $ag, $ab, $ao) $acent%, rgba($br, $bg, $bb, $bo) $bcent%);
}