@mixin gridbody{
    display: grid;
    grid-template-rows: 50px auto 50px;
}

@mixin gridheader{
    display: grid;
    grid-template-columns: 50px 200px auto auto auto auto auto auto auto 250px;
}

@mixin contenthome{

}

@mixin gridfooter{
    display: grid;
    grid-template-columns: 250px auto auto auto 250px;
}

#body{
    @include gridbody();
}

header{
    @include gridheader();
}

footer{
    @include gridfooter();
}