@import "./functions.scss";

body {
    margin: 0px;
}

#wrapper {
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
}

.header {
    display: grid;
    grid-template-columns: repeat(8, auto);
}

.header>div {
    margin: auto;
    align-self: center;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: white;
    border: none;
    color: black;
    font-size: 150%;
}

.content {
    display: grid;
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: repeat(10, 10%);
    background-color: #fff;
    color: #444;
}

.content>div {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    font-size: 110%;
}

#text {
    @include pos($3, $6, $3, $4, $1);
}

#bigtext {
    @include pos(3, 9, 2, 3, 2);
    @include text(400%, bold);
}

#gradient {
    grid-column: 7 / 9;
    grid-row: 1 / 11;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(0,0,0,0) 30%, rgba(160,0,0,1) 100%);
    z-index: 0;
}

.footer {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.footer>div {
    margin: auto;
    align-self: center;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
}