@import 'functions';
@import 'variables';

body {
    margin: 0px;
}

#wrapper {
    @include grid(100%, 10vh 80vh 10vh);
}

.header {
    @include grid(repeat(8, auto), 100%);
}

.header>div {
    @include pos(center, auto, 1);
    @include text(150%, normal, Arial);
}

button {
    @include text(150%, normal, Arial);
    @include color(#fff, #444);
}

.content {
    @include grid(repeat(8, 12.5%), repeat(10, 10%));
    @include color(#fff, #444);
}

.content>div {
    @include text(110%, normal);
}

#text {
    @include gridpos(3, 3, 3, 1);
}

#bigtext {
    @include gridpos(3, 6, 2, 1);
    @include text(400%, bold);
}

#logo {
    @include text(400%, bold);
}

#gradient {
    @include gridpos(7, 1, 1, 10);
    @include color(none, #fff);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 30%, rgba(160, 0, 0, 1) 100%);
    z-index: 0;
}

.footer {
    @include grid(repeat(4, auto), 100%);
}

.footer>div {
    @include pos(center, auto, 1);
    @include text(150%, normal, Arial);
}