@import "./functions";

body {
    margin: 0px;
}

.wrapper {
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    @include testbox(#444, #fff);
}

.box {
    @include testbox(#444, #fff);
    @include text(150%, 20px);
}
